<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Kirana</title>
</head>

<body>
    <h2 align="center">Smart Kirana: Analytics and ML tool for your local supermarket</h2>
    <br />

    <h4 align="center">Upload your store's dataset</h4>
    <form action="/upload" method="post" enctype="multipart/form-data" align="center">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload">
    </form>

</body>
</html>